<section>
  <h1>Frontend recruitment task</h1>
  <h3>List of Planet</h3>
  <hr />
  <p>v.1.0</p>
  <p>author: JL</p>
  <p>This is simple application which has such functionalities as:</p>
  <ul>
    <li>read data from API: https://swapi.co/api/planets/</li>
    <li>switch data from API to Mock</li>
    <li>search rekords</li>
    <li>limited data (5, 10, 25, 100) on page</li>
    <li>paging</li>
    <li>read item details</li>
  </ul>
  <p>Angular 8 | rxjs, HttpClient, Router, ActivateRouter</p>
  <p>TODO: refactor code, migrate function to services, fix search</p>

  <b>! to switch data from Mock to Api, change the value of 'isUseApi' in planet-data.service.ts to true</b>

  <hr />
</section>
